# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*

# runtime
pids/
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# coverage
coverage/

# build
dist/
build/
